In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("NetflixOriginals.csv",encoding="ISO-8859-1")#Verinin okutulması

In [4]:
data.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

# İngilizce çekilen filmler içerisinde hangi tür en yüksek IMDB puanına sahiptir?

In [25]:
ing = data[data['Language']=='English']#Dili ingilizce olan filmler
ing.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
7,The Last Days of American Crime,Heist film/Thriller,"June 5, 2020",149,3.7,English
8,Paradox,Musical/Western/Fantasy,"March 23, 2018",73,3.9,English
10,Searching for Sheela,Documentary,"April 22, 2021",58,4.1,English
14,Mercy,Thriller,"November 22, 2016",90,4.2,English

In [28]:
best= ing.nlargest(15,'IMDB Score')
best

,Title,Genre,Premiere,Runtime,IMDB Score,Language
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
578,Ben Platt: Live from Radio City Music Hall,Concert Film,"May 20, 2020",85,8.4,English
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
576,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
577,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
571,13th,Documentary,"October 7, 2016",100,8.2,English
572,Disclosure: Trans Lives on Screen,Documentary,"June 19, 2020",107,8.2,English
573,Klaus,Animation/Christmas/Comedy/Adventure,"November 15, 2019",97,8.2,English
574,Seaspiracy,Documentary,"March 24, 2021",89,8.2,English
568,Chasing Coral,Documentary,"July 14, 2017",89,8.1,English
569,My Octopus Teacher,Documentary,"September 7, 2020",85,8.1,English
570,Rising Phoenix,Documentary,"August 26, 2020",106,8.1,English
567,Struggle: The Life and Lost Art of Szukaiski,Documentary,"December 21, 2018",105,8.0,English
563,A Secret Love,Documentary,"April 29, 2020",82,7.9,English

In [24]:
best= ing.nlargest(1,'IMDB Score')#İngilizce çekilen filmler içerisinde en yüksek IMDB puanına sahip olan tür
print(best['Genre'])

583    Documentary
Name: Genre, dtype: object


# 'Hindi' Dilinde çekilmiş olan filmlerin ortalama 'runtime' suresi nedir?

In [26]:
hind = data[data['Language']=='Hindi']#Dili hindi olan filmler
hind.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
5,Drive,Action,"November 1, 2019",147,3.5,Hindi
9,Sardar Ka Grandson,Comedy,"May 18, 2021",139,4.1,Hindi
16,Ghost Stories,Horror anthology,"January 1, 2020",144,4.3,Hindi
23,The Girl on the Train,Thriller,"February 26, 2021",120,4.4,Hindi

In [23]:
ort=hind['Runtime'].mean()#'Hindi' Dilinde çekilmiş olan filmlerin ortalama 'runtime' suresi 
ort

115.78787878787878